# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-cosmos==4.5.1
azure-core==1.29.5
azure-functions==1.17.0
json5==0.9.6
requests==2.31.0