<div class="container-fluid">
  <div class="row">
    <h2>Votes of the round</h2>
  </div>
  <div class="row">
    <div class="card" style="max-width: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{ current_prompt }}</h5>
        <p class="card-text">{{ current_result.p1name }} Get Votes: {{ current_result.p1count }}</p>
        <p class="card-text">{{ current_result.p2name }} Get Votes: {{ current_result.p2count }}</p>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" @click="result">OK</button>
  <div v-if="isAdmin">
    <button class="btn btn-primary" @click="next">Next</button>
  </div>
</div>
