<div class="container-fluid">
  <div v-if="currentView === 'wait'">
    <%- include('wait'); %>
  </div>
  <div v-else>
    <div v-if="currentView === 'voting">
      <div class="card">
        <div class="card-header">Voting for Prompt:</div>
        <div class="card-body">
          <h5 class="card-title">{{ current_vote.prompt }}</h5>
          <div v-if="!canVote">
            <p class="card-text">Can't vote for your own answer</p>
          </div>
          <div v-else>
            <button
            type="button"
            class="btn btn-outline-primary btn-lg mb-3"
            @click="vote1"
            >
              {{ current_vote.p1.answer }}
            </button>
            <button
              type="button"
              class="btn btn-outline-primary btn-lg mb-3"
              @click="vote2"
            >
              {{ current_vote.p2.answer }}
            </button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div v-if="currentView === 'wait'">
    <% include('wait'); %>
  </div>
</div>
