<div class="container-fluid">
  <div class="card">
    <div class="card-header">Current vote in process</div>
    <div class="card-body">
      <h5 class="card-title">{{ thisVote.prompt }}</h5>
      <button disabled type="button" class="btn btn-outline-primary btn-lg">
        {{ current_vote.p1 }}
      </button>
      <button disabled type="button" class="btn btn-outline-primary btn-lg">
        {{ current_vote.p2 }}
      </button>
    </div>
  </div>
</div>
